<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% include "_og.njk" %}
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.27.0/themes/prism.min.css">
  {% if title %}
  <title>{{ title }} | {{ config.title }}</title>
  {% else %}
  <title>{{ config.title }}</title>
  {% endif %}
  {% include "_umami.njk" %}
</head>
<body>
  {% block layoutBody %}
  {% endblock %}
</body>
</html>