{% extends "_layout.njk" %}
{% block layoutBody %}
  <div class="container prose mx-auto py-24">
    <a href="/" class="no-underline">
      <h1>{{ config.title }}</h1>
    </a>
    <nav class="flex gap-4">
      <a href="/blog">文章</a>
      <a href="https://aka.taonan.lu/bilibili">音乐</a>
      <a href="https://twitter.com/randyloop">Twitter</a>
      <a href="/rss">RSS</a>
    </nav>

    {% block pageBody %}
      {{ content | safe }}
    {% endblock %}

    {% include "./_footer.njk" %}
  </div>
{% endblock %}