---
import Home from "../layouts/Home.astro";
---

<Home title="一对一咨询">
  <div class="prose">
    <h1>一对一咨询</h1>

    <p>
      除了写博客，我也提供有偿的线上一对一咨询服务，如果你有任何关于技术、职业发展、学习方法等方面的问题，我都可以从我的角度和经验给你一些思路。
    </p>
    <h2>定价</h2>
    <p>¥500 / 50 分钟</p>
    <p>
      <img
        class="sm:w-64"
        src="https://gbstatic.djyde.com/uPic/eFi887.png?x-oss-process=style/80"
        alt=""
      />
      <b>支付宝扫描付款</b>
    </p>
    <p>
      付款后可以点击<a target="_blank" href="https://cal.com/djyde/50m">这里</a>预约我的时间。
    </p>
    
  </div>
</Home>
