---
import Home from "../layouts/Home.astro";
import PostList from "../components/PostList.astro";
import { Content as AboutMe } from "../content/about-me.md";
import dayjs from "dayjs";

const posts = await Astro.glob("../pages/blog/*.md");
// sort post by date
posts.sort((a, b) => {
  //@ts-ignore
  return new Date(b.frontmatter.date) - new Date(a.frontmatter.date);
});

const data = {
  activities: [
    {
      title: "代码之外 Beyond Code",
      url: "https://bento.me/beyondcode",
    },
    {
      title: "二分电台: #8 编程启蒙/从社区学习/个人竞争力",
      url: "https://binary.2bab.me/episodes/008-enlightenment-n-self-innovation",
    },
    {
      title: "ByteTalk: 跟 Randy 聊聊博客、编程、创作那些事",
      url: "https://bytetalk.fm/posts/episode-4/",
    },
  ],

  publications: [
    {
      title: "Next.js 应用开发实践",
      url: "https://nextjs-in-action-cn.taonan.lu/",
    },
  ],
};
---

<Home>
  <section class="">
    <h2 class="text-xl mb-6 text-base-content/60">About / 关于</h2>
    <div class="prose">
      <AboutMe />
    </div>
  </section>
  <div class="divider my-12"></div>
  <section>
    <h2 class="text-xl mb-6 text-base-content/60">Writings / 写作</h2>
    <div class="flex flex-col gap-3">
      {
        posts.map((post) => {
          return (
            <div class="flex flex-col md:flex-row md:items-center md:gap-3 ">
              <span class="text-base-content/60">
                {dayjs(post.frontmatter.date).format("YYYY-MM-DD")}
              </span>
              <a class="link text-lg" href={post.url}>
                {post.frontmatter.title}
              </a>
            </div>
          );
        })
      }
    </div>
  </section>
</Home>
