<div class="text-center">
  <img class="w-64 inline-block" src="https://i.loli.net/2021/10/20/JZ26YwDhmGzUy4u.jpg" alt="" />
  <div class="text-sm">
    通过支付宝 djyde520@gmail.com 或赞赏码赞助此文
  </div>
</div>